# System dependencies
# sudo apt install portaudio19-dev python3-tk

xarm-python-sdk
SpeechRecognition
pyaudio
PyQt5
pyserial
pyyaml
dynamixel_sdk
soundfile
faster-whisper
numpy
mujoco>=3.1.0
mediapy
meshcat
xacro
